___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 11 (Part - 01)</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">RegEx in Python</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [RegEx in PYTHON](#1)
* [RAW STRING ("r/ R")](#2)
* [COMMON PYTHON RegEx FUNCTIONS](#3)    
* [PANDAS FUNCTIONS ACCEPTING RegEx](#4)    
* [THE END OF THE SESSION - 07](#5)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [1]:
import numpy as np
import pandas as pd
import re

In [ ]:
# What is Regex?
# A regular expression is a sequence of characters that specifies a search in text
# https://regex101.com/

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">RegEx in Python</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- A **Reg**ular **Ex**pression (RegEx) is a special sequence of characters that helps you match or find other strings or sets of strings, using a specialized syntax held in a pattern.

- The **Python module** **``re``** provides full support for regular expressions in Python [Source 01](https://docs.python.org/3/library/re.html#re-objects), [Source 02](https://www.tutorialspoint.com/python/python_reg_expressions.htm) & [Source 03](https://www.w3schools.com/python/python_regex.asp).


### Common Expressions

**``\d``** Any numeric digit from ``0`` to ``9``.
                           
**``\D``** Matches any character which is not a decimal digit. This is the opposite of ``\d``.
                           
**``\w``** Any letter, numeric digit, or the underscore character. (Think of this as matching "word" characters.)
                           
**``\W``** Any character that is not a letter, numeric digit, or the underscore character.
                           
**``\s``** Any space, tab, or newline character. (Think of this as matching white-space characters.)
                           
**``\S``** Any character that is not a space, tab, or newline.


### Common Metacharacters

**``"[]"``**	  A set of characters	``"[a-m]"``

**``"\"``**	      Signals a special sequence (can also be used to escape special characters)

**``"."``**	      Any character (except newline character)

**``"^"``**	      Starts with	``"^hello"``

**``"$"``**	      Ends with	``"world$"``

**``"*"``**	      Match zero, one or more of the previous

**``"+"``**	      Match one or more of the previous

**``"?"``**	      Match zero or one of the previous

**``"{}"``**	  Match exactly the specified number of occurrences

**``"|"``**	      Either or	`"falls|stays"`

**``"()"``**	  Capture and group

In [ ]:
"""
\d Any numeric digit from 0 to 9. [0-9]
# digit karakterleri getirir (0-9 arasındaki her şey)
\D Matches any character which is not a decimal digit. This is the opposite of \d. (^[0-9])
# Digit olmayan her türlü karakterleri getirir. Buradaki "^" işareti hariç anlamında 
\w Any letter, numeric digit, or the underscore character. (Think of this as matching "word" characters.)
# Hem sayılar hem harfler
\W Any character that is not a letter, numeric digit, or the underscore character.
# w nin tam tersi
\s Any space, tab, or newline character. (Think of this as matching white-space characters.)
# "wide space" . tab, yeni satır, boşluk gibi karakterleri tutuyor
\S Any character that is not a space, tab, or newline.
# s nin Tam tersi 
Common Metacharacters
"[]" A set of characters "[a-m]"
# Tek karakteri temsil ediyor. [cbf]ar marches "car", "bar", or "far"
# [0-9]+ matches any positive integer
# [azA-Z] matches ascii letter a-<(uppercase and lower case)
"\" Signals a special sequence (can also be used to escape special characters)
# escape karakteri örnek Hungry\? matches "Hungry?" # o ters slash hangi karakterden önce geliyorsa o karakterin özelliğini kaybettiriyor
"." Any character (except newline character)
# do.* # do dan sonra herhangi bir karakter gelebilir ve ondan sonra da "space" görene kadar her karakter(*) gelebilir. örne: do.* matches "dog", "door", "dot", etc
"^" Starts with "^hello"
satır başında varsa eşleştirir ^http matches strings that begin with http, such as url
# [^0-9] matches any character not 0-9
"$" Ends with "world$"
satır sonunda ise --> ings matches "exciting" but not "ingenious"
"*" Match zero, one or more of the previous
# örnek: "ah" matches --> "Ahhhhh" or "A"
"+" Match one or more of the previous
# O karakterden en az bir tane olmalı : Ah+ matches -> "Ah" or "Ahhh" but not "A"
"?" Match zero or one of the previous
# O karakter olsada olur olmasa da olur
"{}" Match exactly the specified number of occurrences
# örnek Ah{2} matches "Ahh" .. Ahh(2,4) matches "Ahh", "Ahhh", "Ahhh"
"|" Either or "falls|stays"

"()" Capture and group

"""

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Raw String ("r / R")</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- Python raw string is created by prefixing a string literal with **'r' or 'R'**.
- Python raw string treats **``backslash (\)``** as a literal character. This is useful when we want to have a string that contains backslash and don’t want it to be treated as an escape character [Source 01](https://blog.devgenius.io/beauty-of-raw-strings-in-python-fa627d674cbf) & [Source 02](https://stackoverflow.com/questions/26318287/what-does-r-mean-before-a-regex-pattern#:~:text=The%20r%20means%20that%20the,escape%20codes%20will%20be%20ignored.).

In [ ]:
# "Hello \t World"
           /                \
# default string            raw string
#    Hello World           Hello \t World

In [ ]:
# Common Python RegEx Functions
# re.search
# ...
# ..
# Pandas Functions Accepting RegEx
# count()
# replace()
# contains()
# findall()
# match()
# split()
# extract() # En çok bunu kullanacağız

In [3]:
print("backslash: \\") # 2 slash arka arkaya yazdım tek slash verdi. Tek slash verseydim problem olacaktı
print("new_line char: \\n") # new_line ifadesinin row string olmasını istersem bu şekilde yapmalıyım

backslash: \
new_line char: \n

In [4]:
print(r"backslash: \\")      # raw string olarak bana ne yazdıysam verdi
print(r"new_line char: \\n") # raw string olarak bana ne yazdıysam verdi

backslash: \\
new_line char: \\n

In [5]:
my_string = "hello\nworld" # \n new_line verdi
print(my_string)

hello
world

In [ ]:
my_string = r"hello\nworld"
print(my_string)  # Normal string karakteri olarak verdi(new_line vermedi)

## Invalid Raw String

In [ ]:
# Geçerli olmayan hata alınacak raw string ifadeleri var
# print("\") # HATA

In [ ]:
# print(r"\") # HATA. Normalde hata vermemesini beklerim.

In [ ]:
# print(r"abc\") # HATA
# print(r"abc\\\") # HATA
# Üsttekilerim çalışması için ya boşluk koymamız lazım ya da iki slash olmalı

In [7]:
print(r"abc\ ")

abc\

In [8]:
print(r"abc\\")

abc\\

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Common Python RegEx Functions</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **re.search():** Scan through string looking for a match to the pattern.
- **re.match():** Try to apply the pattern at the start of the string.
- **re.fullmatch():** Try to apply the pattern to all of the string.
- **re.findall():** Return a list of all non-overlapping matches in the string.
- **re.sub():** Return the string obtained by replacing the leftmost non-overlapping occurrences of the pattern in string by the replacement repl.
- **re.split():** Split the source string by the occurrences of the pattern, returning a list containing the resulting substrings.

In [10]:
# dir(re) # Biz sadece üsttekileri göreceğiz

In [ ]:
help(re.match)

## ``re.search(pattern, string, flags=0)``

Scan through string looking for a match to the pattern, returning a Match object, or None if no match was found [Source](https://www.pythontutorial.net/python-regex/python-regex-flags/).

#### Find numeric digits with search function

In [11]:
text = "A78L41K"

In [12]:
# Text timizi tarıyor, bizim yazdığımız regex ifadesinin karşılığını döndürüyor
re.search("78",text) # 78 i aldık

#### with regular expressions

In [13]:
re.search("\d\d",text) # \d\d  : 2 tane digit istediğimiz söyledim ve verdi
# .. ilk 2 digiti(78) verdi. findall() kullanınca 48 i de verecek

#### with compile() method

In [15]:
comp=re.compile("\d\d") # önce hangi ifadeyi arıyorsam onu text ti vermeden önce 
# .. compile a yazıyorum

In [16]:
comp.search(text) # Hız açısından comp yaptık.
# DS de compile kullanmamıza gerek yok

In [17]:
# Peki bu eşleşen ifadeleri nasıl çekeceğim. num değişkeni üzerinden bakacağız
num = comp.search(text)
num

In [19]:
num.start() # Kaçıncı ifadeden "match" olan ifadenin başladığını söyler

1

In [18]:
num.end()  # "match" olan ifadenin Kaçıncı ifadedee bittiğini söyler

3

In [20]:
num.span() # Üstteki kodların birlikte olanı

(1, 3)

In [21]:
num.group() # İfadeye ulaşmak için group kullandık 78 geldi

'78'

#### Find non decimal digits with search function

In [22]:
text = "8PM19MIN"

In [23]:
# NoN decimal digitleri çekelim
re.search("\D", text) # \D : Digital olmayan(Tek) ifadeyi ver. 
# ilk bulduğunu verdi

In [24]:
re.search("\D\D", text) # \D : Digital olmayan(iki) ifadeyi ver. 
# ilk bulduklarını verdi

In [26]:
re.search("\D+", text) # \D\+ : Digital olmayan(bir veya birden fazla) 
# .. ifadeyi ver. ilk bulduklarını verdi

In [28]:
re.search("\D*",text) # anlamsız oldu. Çünkü burada grup yok(Altta göreceğiz)

#### Find phone number pattern

In [29]:
text = 'My phone number is 1234567890'

In [32]:
re.search("\d\d\d\d\d\d\d\d\d\d",text) # \d\d\d\d\d\d\d\d\d\d : 10 digit

In [33]:
re.search("\d+",text)

In [36]:
text = 'My phone number is 123 456 7890'

In [38]:
re.search("\d\d\d \d\d\d \d\d\d\d",text)

In [40]:
text = 'My phone number is 123-456-7890'

In [41]:
re.search("\d\d\d-\d\d\d-\d\d\d\d",text)

In [42]:
re.search('\d'*3 + '-' + '\d'*3 + '-' + '\d'*4, text) # Farklı yöntem

#### Find phone number pattern by grouping

In [43]:
text

'My phone number is 123-456-7890'

In [45]:
# Gruplandırarak yapalım
re.search("(\d\d\d)-(\d\d\d)-(\d\d\d\d)", text)

In [46]:
telno = re.search("(\d\d\d)-(\d\d\d)-(\d\d\d\d)", text)
telno
# Object oluşturdum. Şimdi bunları grup-grup çağırabilirim

In [47]:
telno.group()

'123-456-7890'

In [48]:
telno.group(1)

'123'

In [49]:
telno.group(2)

'456'

In [50]:
telno.group(3)

'7890'

In [51]:
# 2. yol
telno = re.search("(\d+)-(\d+)-(\d+)", text)
telno

In [53]:
telno = re.search("(\d*)-(\d*)-(\d*)", text)
telno

In [54]:
telno.group(2)

'456'

In [55]:
telno.group(2,3)

('456', '7890')

#### Escaping parentheses and create 2 group -> first group:(415) second group:555-1212 print

In [56]:
text = 'My phone number is (415) 555-1212'

In [60]:
re.search("(\d\d\d) (\d\d\d)-(\d\d\d\d)", text) # Çıktıda bir şey döndürmedi
# Çünkü parantezler var. Onları hesaba katmalıyım.

In [59]:
re.search("((\d\d\d)) (\d\d\d)-(\d\d\d\d)", text) # Bu da çıktı vermedi
# Escape kullanmam lazım ki kendisinden sonra gelen karakterin asıl özelliğini
# .. bozsun

In [61]:
re.search("(\(\d\d\d)\) (\d\d\d)-(\d\d\d\d)", text)

## ``re.match(pattern, string, flags=0)``

Try to apply the pattern at the start of the string, returning a Match object, or None if no match was found.

If you want to locate a match anywhere in string, use search() instead of match()

In [62]:
# match :  # Yazacağınız regex ifadesini text in başında arar
text = "A78L41K"

In [63]:
re.match("\d\d",text) # Sonuç döndürmedi NaN. Çünkü en başta digit aradı
# .. ama en başta "A" var o yüzden sonuç gelmedi

In [64]:
re.match("\D\d\d",text)

In [65]:
re.match("\w\d\d",text)

## ``re.fullmatch(pattern, string, flags=0)``

Try to apply the pattern to all of the string

In [67]:
# fullmatch : regex yazdığınız kod  ile texti tam match etmesi(karşılaması) lazım
text = "A78L41K"

In [68]:
re.fullmatch("\D\d+\D\d+\D",text)

In [69]:
re.fullmatch("\D\d+\D\d+",text) # Bir eksik yazınca(tam match olmayınca) 
# .. sonuç gelmedi

In [70]:
re.fullmatch("\w+", text)

## ``re.findall(pattern, string, flags=0)``

Return a list of all non-overlapping matches in the string.

#### Extract numbers from text as a list

In [71]:
# findall :

text = "O 1, t 10, o 100. 100000"  # Dikkat ilk karakter "O" harfi. Sıfır değil

In [ ]:
# Numaraların hepsini çekmek istiyorum
re.findall("\d",text) # Tek karakter istediğim için sayıları tek tek verdi

In [72]:
re.findall("\d{2}",text) # 2 rakamdan oluşanları getirdi. ikinci 10 ortaki
# .. 100 ün 10 u. Orada 10 u aldı sonraki 0 ın yanında bir şey olmadığı için
# .. tekrar 00 yazmadı('10', '10', '00','10' ,'00', '00' şeklinde yazmadı)

['10', '10', '10', '00', '00']

In [73]:
re.findall("\d{3}",text)

['100', '100', '000']

In [77]:
text = "O 1, t 10, o 100. 001000"
re.findall("\d{1,4}",text)  # 1,6 arasında en büyük olan sayıları getirdi
# .. kalanı ayırdı

['1', '10', '100', '0010', '00']

In [79]:
re.findall("\d+",text)

['1', '10', '100', '001000']

#### Extract words begining with "f"

In [80]:
# f ile başlayanları getir
text = 'which foot or hand fell fastest'

In [81]:
re.findall("f[a-z]*",text)

['foot', 'fell', 'fastest']

#### Extract equations made up of words and numbers

In [82]:
# eşitliğe denk gelen ifadeleri istiyorum
text = 'set width=20 and height=10'

In [84]:
re.findall("\w+=\d+",text)

['width=20', 'height=10']

In [85]:
re.findall("\w=\d+",text)

['h=20', 't=10']

In [87]:
re.findall("\w+=\d",text)

['width=2', 'height=1']

In [86]:
# Grup grup alalım bunları
re.findall("(\w+)=(\d+)",text)

[('width', '20'), ('height', '10')]

#### Check if the string starts with 'hello'

In [88]:
text = "hello world"

In [89]:
re.findall("hello",text)

['hello']

In [90]:
re.findall("^hello",text) # ^ : başında "hello" varsa

['hello']

#### Check if the string ends with 'world'

In [92]:
re.findall("world$",text) # $ : sonunda "world" varsa

['world']

## ``re.sub(pattern, repl, string, count=0, flags=0)``

Return the string obtained by replacing the leftmost non-overlapping occurrences of the pattern in string by the replacement repl.  repl can be either a string or a callable; if a string, backslash escapes in it are processed.  If it is a callable, it's passed the Match object and must return a replacement string to be used.

#### Remove anything other than digits

In [106]:
# digit olmayanları atacağız
text = "2004-959-559 # This is Phone Number"

In [ ]:
re.sub("\D","",text)

#### Remove digits and replace with "."

In [95]:
re.sub("\d",".",text) # Digitleri nokta ile değiştirsin

'....-...-... # This is Phone Number'

In [96]:
re.sub("\d",".",text, count=4) # Count=4 : ilk bulduğu 4 tanesini nokta ile
# .. değiştirsin

'....-959-559 # This is Phone Number'

In [97]:
pd.Series(text) # texttimizi tek elemanlı bir seri yaptık

0    2004-959-559 # This is Phone Number
dtype: object

In [107]:
pd.Series(text).str.replace("\d",".",regex=True) # regex=True kullanmazsak
# .. uyarı veriyor kod(Sonraki sürümlerde Python kodunda regex=False olacak")

0    ....-...-... # This is Phone Number
dtype: object

## ``re.split(pattern, string, maxsplit=0, flags=0)``

Split the source string by the occurrences of the pattern, returning a list containing the resulting substrings.

In [108]:
text = "ab56cd78_de fg3hıi49"

In [109]:
re.split("\D+",text) # Digit olmayan ifadelerden text i böl
# Not:en baş ile "ab" arasında bi yer olduğu için boşlukta geldi

['', '56', '78', '3', '49']

In [113]:
re.split("\D+", text, maxsplit=2) # verilen kritere(Digit olmayan ifadelere) 
# .. göre 2 yerden böl sonrası normal gelsin

['', '56', '78_de fg3hıi49']

In [114]:
re.findall("\d+", text)

['56', '78', '3', '49']

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Pandas Functions Accepting RegEx</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **count():** Count occurrences of pattern in each string of the Series/Index
- **replace():** Replace the search string or pattern with the given value
- **contains():** Test if pattern or regex is contained within a string of a Series or Index. Calls re.search() and returns a boolean
- **findall():** Find all occurrences of pattern or regular expression in the Series/Index. Equivalent to applying re.findall() on all elements
- **match():** Determine if each string matches a regular expression. Calls re.match() and returns a boolean
- **split():** Split strings around given separator/delimiter and accepts string or regular expression to split on
- **extract():** Extract capture groups in the regex pat as columns in a DataFrame and returns the captured groups

In [115]:
data = [['Evert van Dijk', 'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Every Good Gift', 'Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'], 
        ['Evghenya', 'Orange-pink.  75 petals.  Large, very double #68345_686# bloom form.  Blooms in flushes throughout the season.'], 
        ['Evita', 'White or white blend.  None to mild fragrance.  35 petals #9897#.  Large, full (26-40 petals), high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Evrathin', 'Light pink. [Deep pink.]  Outer petals white. Expand rarely #679754YH89#.  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.'],
        ['Evita 2', 'White, blush shading.  Mild, wild rose fragrance #AGHJS876IOP#.  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.']]
  
df = pd.DataFrame(data, columns = ['name', 'bloom']) 
df

              name                                              bloom
0   Evert van Dijk  Carmine-pink, salmon-pink streaks, stripes, fl...
1  Every Good Gift  Red.  Flowers velvety red.  #079463895689# Mod...
2         Evghenya  Orange-pink.  75 petals.  Large, very double #...
3            Evita  White or white blend.  None to mild fragrance....
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...
5          Evita 2  White, blush shading.  Mild, wild rose fragran...

## ``pandas.Series.str.count(pat, flags=0)``

Count occurrences of pattern in each string of the Series/Index.

This function is used to count the number of times a particular regex pattern is repeated in each of the string elements of the Series.

#### How many numerical values are there in each row of "bloom" feature?

In [116]:
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

#### How many characters are there in each row of "bloom" feature?

In [117]:
# DS te bizim uğraşacağımız alanlar buralar
df.bloom.str.count("\d+")

0     1
1     4
2     3
3     4
4    10
5     5
Name: bloom, dtype: int64

In [120]:
df.bloom[1] # 4 tame

'Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'

In [123]:
df.bloom.apply(len)

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

In [124]:
df.bloom.str.count(".") # new_line hariç herşeyi sayar

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

#### How many sentences are there in each row of "bloom" feature?

In [125]:
df.bloom.str.count("\.")

0     5
1     6
2     4
3     5
4    11
5     7
Name: bloom, dtype: int64

## ``pandas.Series.str.replace(pat, repl, n=- 1, case=None, flags=0, regex=None)``

Replace each occurrence of pattern/regex in the Series/Index.

Equivalent to str.replace() or re.sub(), depending on the regex value.

#### Replace the values finding between the two "#" characters (including "#" characters) with the "" in each row of "bloom" feature

In [128]:
# özel(Dash) karakterler arasındakileri ifade edeceğim. Özel karakterler arasında
# .. boşluk yok datamda
df["bloom"] = df.bloom.str.replace("#\S+#","",regex = True)
df["bloom"][0] # Dash karakter li ifadeyi tamamen kaldırdı

'Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [129]:
# Hepsinden bunu silmiş mi nasıl bakarız?
df.bloom.str.count("#\S+#") # Hepsi gitmiş

0    0
1    0
2    0
3    0
4    0
5    0
Name: bloom, dtype: int64

## ``pandas.Series.str.contains(pat, case=True, flags=0, na=None, regex=True)``

Test if pattern or regex is contained within a string of a Series or Index.

Return boolean Series or Index based on whether a given pattern or regex is contained within a string of a Series or Index.

#### Which rows in "bloom" feature includes "diameter" value?

In [130]:
# contains : regex ile contains olup olmadığına bakalım
df.bloom.str.contains("diameter") # Normalde böyle yapabilirim

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [135]:
df.bloom.str.contains('\d+"') # Aynı çıktıyı verir
# NoT: burada   tırnak(") işareti inch anlamında.(Domain knowledge)

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [134]:
df.loc[df.bloom.str.contains('\d+"')] # df çıktıyı verir

              name                                              bloom
1  Every Good Gift  Red.  Flowers velvety red.   Moderate fragranc...
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...
5          Evita 2  White, blush shading.  Mild, wild rose fragran...

## ``pandas.Series.str.findall(pat, flags=0)``

Find all occurrences of pattern or regular expression in the Series/Index.

Equivalent to applying re.findall() to all the elements in the Series/Index.

#### Find all numeric values in each rows of the "bloom" feature

In [136]:
# Her bir satırda geçen sayısal değerleri göstersin findall
df.bloom.str.findall("\d+")

0                                []
1                       [4, 26, 40]
2                              [75]
3                      [35, 26, 40]
4    [35, 40, 2, 5, 17, 25, 26, 40]
5                   [20, 25, 1, 25]
Name: bloom, dtype: object

#### Find diameter values in each rows of the "bloom" feature

In [137]:
# Bu yukardaki çıktıdaki sayısal değerlerden hangileri çap değeri onları
# .. versin istiyorum çıktım da
df.bloom.str.findall('\d+\.\d|\d+"') # digit de sol da 1 veya birden fazla tam sayı
# noktanın sağ tarafında 1 veya 1 den fazla tam sayı olanları versin

0           []
1         [4"]
2           []
3           []
4        [2.5]
5    [1.2, 5"]
Name: bloom, dtype: object

In [138]:
df.bloom.str.findall('\d+"|\d+\.\d+"')

0         []
1       [4"]
2         []
3         []
4     [2.5"]
5    [1.25"]
Name: bloom, dtype: object

## ``pandas.Series.str.match(pat, case=True, flags=0, na=None)``

Determine if each string starts with a match of a regular expression.

#### Find the rows of pink blooms (this information is available in the first words of the rows)

In [140]:
# starts with # Başta geçen carmine-pink, pink, light pink vs leri çekmek
# .. istiyorum yani pink ile başlayan her türlüsünü
# uzun yolu yapalım önce
df.bloom.str.match("pink|\w+-pink|\w+ pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

In [141]:
df.bloom.str.match("pink|\w+[- ]?pink") # 2. yol

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

In [142]:
df.bloom.str.match(".+pink") # 3. yol

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

## ``pandas.Series.str.split(pat=None, n=- 1, expand=False, *, regex=None)``

Split strings around given separator/delimiter.

Splits the string in the Series/Index from the beginning, at the specified delimiter string.

#### Split each rows of "bloom" feature from the dot character as sentences

In [143]:
# Cümle cümle bölmek istiyorum split ile açıklamaları
df.bloom.str.split("\. ") # noktadan bölecek
# NOT: Noktadan sonrada hep boşluk var veride

0    [Carmine-pink, salmon-pink streaks, stripes, f...
1    [Red,  Flowers velvety red,   Moderate fragran...
2    [Orange-pink,  75 petals,  Large, very double ...
3    [White or white blend,  None to mild fragrance...
4    [Light pink, [Deep pink.]  Outer petals white,...
5    [White, blush shading,  Mild, wild rose fragra...
Name: bloom, dtype: object

In [144]:
df.bloom.str.split("\. ", expand = True) # Cümle cümle sütunda verdi

,0,1,2,3,4,5,6,7,8
0,"Carmine-pink, salmon-pink streaks, stripes, fl...","Warm pink, clear carmine pink, rose pink shad...",Mild fragrance,"Large, very double, in small clusters, high-c...",Blooms in flushes throughout the season.,None,None,None,None
1,Red,Flowers velvety red,Moderate fragrance,"Average diameter 4""","Medium-large, full (26-40 petals), borne most...",Blooms in flushes throughout the season.,None,None,None
2,Orange-pink,75 petals,"Large, very double bloom form",Blooms in flushes throughout the season.,None,None,None,None,None
3,White or white blend,None to mild fragrance,35 petals,"Large, full (26-40 petals), high-centered blo...",Blooms in flushes throughout the season.,None,None,None,None
4,Light pink,[Deep pink.] Outer petals white,Expand rarely,Mild fragrance,35 to 40 petals,"Average diameter 2.5""","Medium, double (17-25 petals), full (26-40 pe...","Prolific, once-blooming spring or summer","Glandular sepals, leafy sepals, long sepals b..."
5,"White, blush shading","Mild, wild rose fragrance",20 to 25 petals,"Average diameter 1.25""","Small, very double, cluster-flowered bloom form",Blooms in flushes throughout the season.,None,None,None

In [145]:
info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

#### Split the serie to create a dataframe consisting of "id, age and salary" columns.

In [146]:
# df e dönüştürelim serimizi
s.str.split("\D+", expand=True) # Nümerik olmayanlardan bölmesini isteyelim
# Baş tarafta splitten dolayı extra sütun oluştu. Onu atalım

  0    1   2     3
0    345  25  1200
1    346  32  1500
2    347  28  1400

In [149]:
df = s.str.split("\D+", expand = True).iloc[:,1:]

In [150]:
df.columns = ["id","age","salary"]
df # istediğim şekle geldi

    id age salary
0  345  25   1200
1  346  32   1500
2  347  28   1400

## ``pandas.Series.str.extract(pat, flags=0, expand=True)``

Extract capture groups in the regex pat as columns in a DataFrame.

For each subject string in the Series, extract groups from the first match of regular expression pat.

#### Extract just numbers

In [152]:
# En çok kullanacağımız şey extract
# - Parantez içinde yazdığımız şeyleri döndürür
# - Gruplar ile çalışmalıyız bunda
# - Df döndürür
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [155]:
# s.str.extract("\d+") # HATA. Çünkü extract kullanırken gruplarla çalışmamız lazım
s.str.extract("(\d+)") # seriyi df e çevirdi. Parantezlerle yaptığım her grup
# .. bize satır olarak döndü

   0
0  3
1  4
2  5

#### Extract just letters

In [ ]:
# a, b, c bir sütunda , aa, aa, aa farklı sütunda olsun(Rakamın solu ve sağı)

In [157]:
s.str.extract("(\D+)\d(\D+)") # \d : Arada nümerik değeri istemediğim için ekledim
# .. araya

   0   1
0  a  aa
1  b  aa
2  c  aa

In [159]:
# 3 ayrı grup isteseydim
s.str.extract("(\D+)\d(\D)(\D+)")

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [161]:
s.str.extract("(\D+\d\D+)")

      0
0  a3aa
1  b4aa
2  c5aa

#### Extract "id, age and salary" values to create a dataframe consisting of "id, age and salary" columns.

In [162]:
info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

In [165]:
# Bunu split ile yapmıştık, extract ile yapalım şimdi
df = s.str.extract("(\d+)\D+(\d+)\D+(\d+)") # \D+ : digit olmayanları almadık
df # split e göre daha mantıklı

     0   1     2
0  345  25  1200
1  346  32  1500
2  347  28  1400

#### Extract first number

In [166]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [169]:
# s.str.extract("(\d+\.\d+|\d+)") # 1. yol
# s.str.extract("(\d*\.?\d+\d*)") #  \d* : 1 veya daha fazla digit olsun , .?: nokta olsun veya olmasın
s.str.extract("(\S+)") # (\S+) wide space i görene kadar her şeyi aldı # 3. yol

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

#### Extract first and second number

In [170]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [171]:
s.str.extract('(\d*.\d*).+/(\d*)')

      0    1
0   40   100
1   38   100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16   0   100
17  7.8  100

#### Extract date as month and year separately

In [172]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
s

0     06/2020\n\n4.9 l/100 km (comb)
1     11/2020\n\n166 g CO2/km (comb)
2     10/2019\n\n5.3 l/100 km (comb)
3     05/2022\n\n6.3 l/100 km (comb)
4     07/2019\n\n128 g CO2/km (comb)
5     06/2022\n\n112 g CO2/km (comb)
6     01/2022\n\n5.8 l/100 km (comb)
7     11/2020\n\n106 g CO2/km (comb)
8     04/2019\n\n105 g CO2/km (comb)
9     08/2020\n\n133 g CO2/km (comb)
10    04/2022\n\n133 g CO2/km (comb)
dtype: object

In [173]:
s.str.extract("(\d\d).(\d\d\d\d)")
#s.str.extract("(\d{2}).(\d{4})")
#s.str.extract("(\d*).(\d*)")
#s.str.extract("(\d\d)/(\d*)")
#s.str.extract("(\d\d)/(\d\d\d\d)")
#s.str.extract("(\d+).(\d+)")
#s.str.extract("(\S+)/(\S+)")

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

#### Extract date and comsuption value -> 4.9

In [175]:
s

0     06/2020\n\n4.9 l/100 km (comb)
1     11/2020\n\n166 g CO2/km (comb)
2     10/2019\n\n5.3 l/100 km (comb)
3     05/2022\n\n6.3 l/100 km (comb)
4     07/2019\n\n128 g CO2/km (comb)
5     06/2022\n\n112 g CO2/km (comb)
6     01/2022\n\n5.8 l/100 km (comb)
7     11/2020\n\n106 g CO2/km (comb)
8     04/2019\n\n105 g CO2/km (comb)
9     08/2020\n\n133 g CO2/km (comb)
10    04/2022\n\n133 g CO2/km (comb)
dtype: object

In [174]:
s.str.extract('(\d+/\d+)\s+(\d+.\d+|\d+)') # (\d+/\d+) : tarihi aldı, 
# .. \s+: new_line ı aldı,
# .. (\d+.\d+|\d+): rakamı aldı

          0    1
0   06/2020  4.9
1   11/2020  166
2   10/2019  5.3
3   05/2022  6.3
4   07/2019  128
5   06/2022  112
6   01/2022  5.8
7   11/2020  106
8   04/2019  105
9   08/2020  133
10  04/2022  133

#### Extract date as month and year separately

In [176]:
s = pd.Series(['\n\n4.9 06/2020 l/100 km (comb)',
'\n\n166 11/2020 g CO2/km (comb)',                                 
'\n\n5.3 10/2019 l/100 km (comb)',
'\n\n6.3 05/2022 l/100 km (comb)',
'\n\n128 07/2019 g CO2/km (comb)',
'\n\n112 06/2022 g CO2/km (comb)',                                                 
'\n\n5.8 01/2022 l/100 km (comb)'])
s

0    \n\n4.9 06/2020 l/100 km (comb)
1    \n\n166 11/2020 g CO2/km (comb)
2    \n\n5.3 10/2019 l/100 km (comb)
3    \n\n6.3 05/2022 l/100 km (comb)
4    \n\n128 07/2019 g CO2/km (comb)
5    \n\n112 06/2022 g CO2/km (comb)
6    \n\n5.8 01/2022 l/100 km (comb)
dtype: object

In [178]:
# 06/2020 olan sütuna ulaşmak istiyorum
# s.str.extract("\S+\s(\d+)/(\d+)")
s.str.extract("(\d+)/(\d+)")

    0     1
0  06  2020
1  11  2020
2  10  2019
3  05  2022
4  07  2019
5  06  2022
6  01  2022

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 11 (Part - 01)</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

____