___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 11 (Part - 01)</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">RegEx in Python</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [RegEx in PYTHON](#1)
* [RAW STRING ("r/ R")](#2)
* [COMMON PYTHON RegEx FUNCTIONS](#3)    
* [PANDAS FUNCTIONS ACCEPTING RegEx](#4)    
* [THE END OF THE SESSION - 07](#5)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [1]:
import numpy as np
import pandas as pd
import re

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">RegEx in Python</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- A **Reg**ular **Ex**pression (RegEx) is a special sequence of characters that helps you match or find other strings or sets of strings, using a specialized syntax held in a pattern.

- The **Python module** **``re``** provides full support for regular expressions in Python [Source 01](https://docs.python.org/3/library/re.html#re-objects), [Source 02](https://www.tutorialspoint.com/python/python_reg_expressions.htm) & [Source 03](https://www.w3schools.com/python/python_regex.asp).


### Common Expressions

**``\d``** Any numeric digit from ``0`` to ``9``.
                           
**``\D``** Matches any character which is not a decimal digit. This is the opposite of ``\d``.
                           
**``\w``** Any letter, numeric digit, or the underscore character. (Think of this as matching "word" characters.)
                           
**``\W``** Any character that is not a letter, numeric digit, or the underscore character.
                           
**``\s``** Any space, tab, or newline character. (Think of this as matching white-space characters.)
                           
**``\S``** Any character that is not a space, tab, or newline.


### Common Metacharacters

**``"[]"``**	  A set of characters	``"[a-m]"``

**``"\"``**	      Signals a special sequence (can also be used to escape special characters)

**``"."``**	      Any character (except newline character)

**``"^"``**	      Starts with	``"^hello"``

**``"$"``**	      Ends with	``"world$"``

**``"*"``**	      Match zero, one or more of the previous

**``"+"``**	      Match one or more of the previous

**``"?"``**	      Match zero or one of the previous

**``"{}"``**	  Match exactly the specified number of occurrences

**``"|"``**	      Either or	`"falls|stays"`

**``"()"``**	  Capture and group

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Raw String ("r / R")</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- Python raw string is created by prefixing a string literal with **'r' or 'R'**.
- Python raw string treats **``backslash (\)``** as a literal character. This is useful when we want to have a string that contains backslash and donâ€™t want it to be treated as an escape character [Source 01](https://blog.devgenius.io/beauty-of-raw-strings-in-python-fa627d674cbf) & [Source 02](https://stackoverflow.com/questions/26318287/what-does-r-mean-before-a-regex-pattern#:~:text=The%20r%20means%20that%20the,escape%20codes%20will%20be%20ignored.).

In [2]:
print("backslash: \\")
print("new line char: \\n")

backslash: \
new line char: \n

In [3]:
print(r"backslash: \\")
print(r"new line char: \\n")

backslash: \\
new line char: \\n

In [4]:
my_string = "hello\nworld"
print(my_string)

hello
world

In [5]:
my_string = r"hello\nworld"
print(my_string)

hello\nworld

## Invalid Raw String

In [7]:
#print("\")

In [9]:
#print(r"\")

In [11]:
#print(r"abc\")

In [14]:
#print(r"abc\\\")

In [15]:
print(r"abc\ ")

abc\

In [16]:
print(r"abc\\")

abc\\

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Common Python RegEx Functions</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **re.search():** Scan through string looking for a match to the pattern.
- **re.match():** Try to apply the pattern at the start of the string.
- **re.fullmatch():** Try to apply the pattern to all of the string.
- **re.findall():** Return a list of all non-overlapping matches in the string.
- **re.sub():** Return the string obtained by replacing the leftmost non-overlapping occurrences of the pattern in string by the replacement repl.
- **re.split():** Split the source string by the occurrences of the pattern, returning a list containing the resulting substrings.

In [18]:
#dir(re)

In [20]:
#help(re.match)

## ``re.search(pattern, string, flags=0)``

Scan through string looking for a match to the pattern, returning a Match object, or None if no match was found [Source](https://www.pythontutorial.net/python-regex/python-regex-flags/).

#### Find numeric digits with search function

In [21]:
text = "A78L41K"

In [22]:
re.search("78", text)

#### with regular expressions

In [23]:
re.search("\d\d", text)

#### with compile() method

In [24]:
comp = re.compile("\d\d")

In [25]:
comp.search(text)

In [26]:
num = comp.search(text)
num

In [27]:
num.start()

1

In [28]:
num.end()

3

In [29]:
num.span()

(1, 3)

In [30]:
num.group()

'78'

#### Find non decimal digits with search function

In [31]:
text = "8PM19MIN"

In [32]:
re.search("\D", text)

In [33]:
re.search("\D\D", text)

In [34]:
re.search("\D+", text)

In [35]:
re.search("\D*", text)

#### Find phone number pattern

In [36]:
text = 'My phone number is 1234567890'

In [37]:
re.search("\d\d\d\d\d\d\d\d\d\d", text)

In [38]:
re.search("\d+", text)

In [39]:
text = 'My phone number is 123 456 7890'

In [40]:
re.search("\d\d\d \d\d\d \d\d\d\d", text)

In [41]:
text = 'My phone number is 123-456-7890'

In [42]:
re.search("\d\d\d-\d\d\d-\d\d\d\d", text)

In [43]:
re.search('\d'*3 + '-' + '\d'*3 + '-' + '\d'*4, text)

#### Find phone number pattern by grouping

In [44]:
text

'My phone number is 123-456-7890'

In [45]:
re.search("(\d\d\d)-(\d\d\d)-(\d\d\d\d)", text)

In [46]:
telno = re.search("(\d\d\d)-(\d\d\d)-(\d\d\d\d)", text)
telno

In [50]:
telno.group(3)

'7890'

In [51]:
telno = re.search("(\d+)-(\d+)-(\d+)", text)
telno

In [52]:
telno = re.search("(\d*)-(\d*)-(\d*)", text)
telno

#### Escaping parentheses and create 2 group -> first group:(415) second group:555-1212 print

In [58]:
text = 'My phone number is (415) 555-1212'

In [59]:
re.search("(\(\d\d\d\)) (\d\d\d)-(\d\d\d\d)", text)

## ``re.match(pattern, string, flags=0)``

Try to apply the pattern at the start of the string, returning a Match object, or None if no match was found.

If you want to locate a match anywhere in string, use search() instead of match()

In [60]:
text = "A78L41K"

In [62]:
re.match("\d\d", text)

In [63]:
re.match("\D\d\d", text)

In [64]:
re.match("\w\d\d", text)

## ``re.fullmatch(pattern, string, flags=0)``

Try to apply the pattern to all of the string

In [65]:
text = "A78L41K"

In [68]:
re.fullmatch("\D\d+\D\d+\D", text)

In [70]:
re.fullmatch("\w+", text)

## ``re.findall(pattern, string, flags=0)``

Return a list of all non-overlapping matches in the string.

#### Extract numbers from text as a list

In [71]:
text = "O 1, t 10, o 100. 100000"

In [72]:
re.findall("\d", text)

['1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0']

In [73]:
re.findall("\d{2}", text)

['10', '10', '10', '00', '00']

In [74]:
re.findall("\d{3}", text)

['100', '100', '000']

In [75]:
re.findall("\d{4}", text)

['1000']

In [76]:
re.findall("\d{1,6}", text)

['1', '10', '100', '100000']

In [77]:
re.findall("\d+", text)

['1', '10', '100', '100000']

#### Extract words begining with "f"

In [78]:
text = 'which foot or hand fell fastest'

In [79]:
re.findall("f[a-z]*", text)

['foot', 'fell', 'fastest']

#### Extract equations made up of words and numbers

In [80]:
text = 'set width=20 and height=10'

In [85]:
re.findall("\w+=\d+", text)

['width=20', 'height=10']

In [83]:
re.findall("(\w+)=(\d+)", text)

[('width', '20'), ('height', '10')]

#### Check if the string starts with 'hello'

In [86]:
text = "hello world"

In [89]:
re.findall("^hello", text)

['hello']

#### Check if the string ends with 'world'

In [90]:
re.findall("world$", text)

['world']

## ``re.sub(pattern, repl, string, count=0, flags=0)``

Return the string obtained by replacing the leftmost non-overlapping occurrences of the pattern in string by the replacement repl.  repl can be either a string or a callable; if a string, backslash escapes in it are processed.  If it is a callable, it's passed the Match object and must return a replacement string to be used.

#### Remove anything other than digits

In [91]:
text = "2004-959-559 # This is Phone Number"

In [92]:
re.sub("\D", "", text)

'2004959559'

#### Remove digits and replace with "."

In [93]:
re.sub("\d", ".", text)

'....-...-... # This is Phone Number'

In [94]:
re.sub("\d", ".", text, count = 4)

'....-959-559 # This is Phone Number'

In [98]:
pd.Series(text).str.replace("\d", ".", regex = True)

0    ....-...-... # This is Phone Number
dtype: object

## ``re.split(pattern, string, maxsplit=0, flags=0)``

Split the source string by the occurrences of the pattern, returning a list containing the resulting substrings.

In [99]:
text = "ab56cd78_de fg3hÄ±i49"

In [101]:
re.split("\D+", text)

['', '56', '78', '3', '49']

In [102]:
re.split("\D+", text, maxsplit=2)

['', '56', '78_de fg3hÄ±i49']

In [103]:
re.findall("\d+", text)

['56', '78', '3', '49']

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Pandas Functions Accepting RegEx</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **count():** Count occurrences of pattern in each string of the Series/Index
- **replace():** Replace the search string or pattern with the given value
- **contains():** Test if pattern or regex is contained within a string of a Series or Index. Calls re.search() and returns a boolean
- **findall():** Find all occurrences of pattern or regular expression in the Series/Index. Equivalent to applying re.findall() on all elements
- **match():** Determine if each string matches a regular expression. Calls re.match() and returns a boolean
- **split():** Split strings around given separator/delimiter and accepts string or regular expression to split on
- **extract():** Extract capture groups in the regex pat as columns in a DataFrame and returns the captured groups

In [104]:
data = [['Evert van Dijk', 'Carmine-pink, salmon-pink streaks, stripes, flecks. #94569# Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Every Good Gift', 'Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'], 
        ['Evghenya', 'Orange-pink.  75 petals.  Large, very double #68345_686# bloom form.  Blooms in flushes throughout the season.'], 
        ['Evita', 'White or white blend.  None to mild fragrance.  35 petals #9897#.  Large, full (26-40 petals), high-centered bloom form.  Blooms in flushes throughout the season.'],
        ['Evrathin', 'Light pink. [Deep pink.]  Outer petals white. Expand rarely #679754YH89#.  Mild fragrance.  35 to 40 petals.  Average diameter 2.5".  Medium, double (17-25 petals), full (26-40 petals), cluster-flowered, in small clusters bloom form.  Prolific, once-blooming spring or summer.  Glandular sepals, leafy sepals, long sepals buds.'],
        ['Evita 2', 'White, blush shading.  Mild, wild rose fragrance #AGHJS876IOP#.  20 to 25 petals.  Average diameter 1.25".  Small, very double, cluster-flowered bloom form.  Blooms in flushes throughout the season.']]
  
df = pd.DataFrame(data, columns = ['name', 'bloom']) 
df

              name                                              bloom
0   Evert van Dijk  Carmine-pink, salmon-pink streaks, stripes, fl...
1  Every Good Gift  Red.  Flowers velvety red.  #079463895689# Mod...
2         Evghenya  Orange-pink.  75 petals.  Large, very double #...
3            Evita  White or white blend.  None to mild fragrance....
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...
5          Evita 2  White, blush shading.  Mild, wild rose fragran...

## ``pandas.Series.str.count(pat, flags=0)``

Count occurrences of pattern in each string of the Series/Index.

This function is used to count the number of times a particular regex pattern is repeated in each of the string elements of the Series.

#### How many numerical values are there in each row of "bloom" feature?

In [107]:
df.bloom[1]

'Red.  Flowers velvety red.  #079463895689# Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'

In [106]:
df.bloom.str.count("\d+")

0     1
1     4
2     3
3     4
4    10
5     5
Name: bloom, dtype: int64

#### How many characters are there in each row of "bloom" feature?

In [108]:
df.bloom.apply(len)

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

In [109]:
df.bloom.str.count(".")

0    240
1    196
2    110
3    162
4    327
5    198
Name: bloom, dtype: int64

#### How many sentences are there in each row of "bloom" feature?

In [110]:
df.bloom.str.count("\.")

0     5
1     6
2     4
3     5
4    11
5     7
Name: bloom, dtype: int64

## ``pandas.Series.str.replace(pat, repl, n=- 1, case=None, flags=0, regex=None)``

Replace each occurrence of pattern/regex in the Series/Index.

Equivalent to str.replace() or re.sub(), depending on the regex value.

#### Replace the values finding between the two "#" characters (including "#" characters) with the "" in each row of "bloom" feature

In [112]:
df["bloom"] = df.bloom.str.replace("#\S+#", "", regex = True)
df.bloom[0]

'Carmine-pink, salmon-pink streaks, stripes, flecks.  Warm pink, clear carmine pink, rose pink shaded salmon.  Mild fragrance.  Large, very double, in small clusters, high-centered bloom form.  Blooms in flushes throughout the season.'

In [113]:
df.bloom.str.count("#\S+#")

0    0
1    0
2    0
3    0
4    0
5    0
Name: bloom, dtype: int64

## ``pandas.Series.str.contains(pat, case=True, flags=0, na=None, regex=True)``

Test if pattern or regex is contained within a string of a Series or Index.

Return boolean Series or Index based on whether a given pattern or regex is contained within a string of a Series or Index.

#### Which rows in "bloom" feature includes "diameter" value?

In [117]:
df.bloom[1]

'Red.  Flowers velvety red.   Moderate fragrance.  Average diameter 4".  Medium-large, full (26-40 petals), borne mostly solitary bloom form.  Blooms in flushes throughout the season.'

In [118]:
df.bloom.str.contains("diameter")

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [119]:
df.bloom.str.contains('\d+"')

0    False
1     True
2    False
3    False
4     True
5     True
Name: bloom, dtype: bool

In [120]:
df.loc[df.bloom.str.contains('\d+"')]

              name                                              bloom
1  Every Good Gift  Red.  Flowers velvety red.   Moderate fragranc...
4         Evrathin  Light pink. [Deep pink.]  Outer petals white. ...
5          Evita 2  White, blush shading.  Mild, wild rose fragran...

## ``pandas.Series.str.findall(pat, flags=0)``

Find all occurrences of pattern or regular expression in the Series/Index.

Equivalent to applying re.findall() to all the elements in the Series/Index.

#### Find all numeric values in each rows of the "bloom" feature

In [121]:
df.bloom.str.findall("\d+")

0                                []
1                       [4, 26, 40]
2                              [75]
3                      [35, 26, 40]
4    [35, 40, 2, 5, 17, 25, 26, 40]
5                   [20, 25, 1, 25]
Name: bloom, dtype: object

#### Find diameter values in each rows of the "bloom" feature

In [122]:
df.bloom.str.findall('\d+\.\d+"|\d+"')

0         []
1       [4"]
2         []
3         []
4     [2.5"]
5    [1.25"]
Name: bloom, dtype: object

In [123]:
df.bloom.str.findall('\d+"|\d+\.\d+"')

0         []
1       [4"]
2         []
3         []
4     [2.5"]
5    [1.25"]
Name: bloom, dtype: object

## ``pandas.Series.str.match(pat, case=True, flags=0, na=None)``

Determine if each string starts with a match of a regular expression.

#### Find the rows of pink blooms (this information is available in the first words of the rows)

In [124]:
df.bloom

0    Carmine-pink, salmon-pink streaks, stripes, fl...
1    Red.  Flowers velvety red.   Moderate fragranc...
2    Orange-pink.  75 petals.  Large, very double  ...
3    White or white blend.  None to mild fragrance....
4    Light pink. [Deep pink.]  Outer petals white. ...
5    White, blush shading.  Mild, wild rose fragran...
Name: bloom, dtype: object

In [125]:
df.bloom.str.match("pink|\w+-pink|\w+ pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

In [126]:
df.bloom.str.match("pink|\w+[- ]?pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

In [127]:
df.bloom.str.match(".+pink")

0     True
1    False
2     True
3    False
4     True
5    False
Name: bloom, dtype: bool

## ``pandas.Series.str.split(pat=None, n=- 1, expand=False, *, regex=None)``

Split strings around given separator/delimiter.

Splits the string in the Series/Index from the beginning, at the specified delimiter string.

#### Split each rows of "bloom" feature from the dot character as sentences

In [128]:
df.bloom.str.split("\. ")

0    [Carmine-pink, salmon-pink streaks, stripes, f...
1    [Red,  Flowers velvety red,   Moderate fragran...
2    [Orange-pink,  75 petals,  Large, very double ...
3    [White or white blend,  None to mild fragrance...
4    [Light pink, [Deep pink.]  Outer petals white,...
5    [White, blush shading,  Mild, wild rose fragra...
Name: bloom, dtype: object

In [129]:
df.bloom.str.split("\. ", expand = True)

                                                   0  ...                                                  8
0  Carmine-pink, salmon-pink streaks, stripes, fl...  ...                                               None
1                                                Red  ...                                               None
2                                        Orange-pink  ...                                               None
3                               White or white blend  ...                                               None
4                                         Light pink  ...   Glandular sepals, leafy sepals, long sepals b...
5                               White, blush shading  ...                                               None

[6 rows x 9 columns]

In [130]:
info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

#### Split the serie to create a dataframe consisting of "id, age and salary" columns.

In [132]:
s.str.split("\D+", expand=True)

  0    1   2     3
0    345  25  1200
1    346  32  1500
2    347  28  1400

In [134]:
df = s.str.split("\D+", expand=True).iloc[:,1:]
df

     1   2     3
0  345  25  1200
1  346  32  1500
2  347  28  1400

In [135]:
df.columns = ["id", "age", "salary"]
df

    id age salary
0  345  25   1200
1  346  32   1500
2  347  28   1400

## ``pandas.Series.str.extract(pat, flags=0, expand=True)``

Extract capture groups in the regex pat as columns in a DataFrame.

For each subject string in the Series, extract groups from the first match of regular expression pat.

#### Extract just numbers

In [136]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [138]:
s.str.extract("(\d+)")

   0
0  3
1  4
2  5

#### Extract just letters

In [141]:
s.str.extract("(\D+\d\D+)")

      0
0  a3aa
1  b4aa
2  c5aa

In [139]:
s.str.extract("(\D+)\d(\D+)")

   0   1
0  a  aa
1  b  aa
2  c  aa

In [140]:
s.str.extract("(\D+)\d(\D)(\D)")

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

#### Extract "id, age and salary" values to create a dataframe consisting of "id, age and salary" columns.

In [142]:
info = ["id:345, age:25, salary:1200", "id:346, age:32, salary:1500", "id:347, age:28, salary:1400"]
s = pd.Series(info)
s

0    id:345, age:25, salary:1200
1    id:346, age:32, salary:1500
2    id:347, age:28, salary:1400
dtype: object

In [143]:
df = s.str.extract("(\d+)\D+(\d+)\D+(\d+)")
df

     0   1     2
0  345  25  1200
1  346  32  1500
2  347  28  1400

#### Extract first number

In [144]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [150]:
#s.str.extract("(\d+\.\d+|\d+)")
#s.str.extract("(\d*\.?\d*)")
s.str.extract("(\S+)")

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

#### Extract first and second number

In [151]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [157]:
s.str.extract('(\d*.\d*).+/(\d+)')

      0    1
0   40   100
1   38   100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16   0   100
17  7.8  100

#### Extract date as month and year separately

In [158]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
s

0     06/2020\n\n4.9 l/100 km (comb)
1     11/2020\n\n166 g CO2/km (comb)
2     10/2019\n\n5.3 l/100 km (comb)
3     05/2022\n\n6.3 l/100 km (comb)
4     07/2019\n\n128 g CO2/km (comb)
5     06/2022\n\n112 g CO2/km (comb)
6     01/2022\n\n5.8 l/100 km (comb)
7     11/2020\n\n106 g CO2/km (comb)
8     04/2019\n\n105 g CO2/km (comb)
9     08/2020\n\n133 g CO2/km (comb)
10    04/2022\n\n133 g CO2/km (comb)
dtype: object

In [159]:
s.str.extract("(\d\d).(\d\d\d\d)")
#s.str.extract("(\d{2}).(\d{4})")
#s.str.extract("(\d*).(\d*)")
#s.str.extract("(\d\d)/(\d*)")
#s.str.extract("(\d\d)/(\d\d\d\d)")
#s.str.extract("(\d+).(\d+)")
#s.str.extract("(\S+)/(\S+)")

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

#### Extract date and comsuption value -> 4.9

In [160]:
s

0     06/2020\n\n4.9 l/100 km (comb)
1     11/2020\n\n166 g CO2/km (comb)
2     10/2019\n\n5.3 l/100 km (comb)
3     05/2022\n\n6.3 l/100 km (comb)
4     07/2019\n\n128 g CO2/km (comb)
5     06/2022\n\n112 g CO2/km (comb)
6     01/2022\n\n5.8 l/100 km (comb)
7     11/2020\n\n106 g CO2/km (comb)
8     04/2019\n\n105 g CO2/km (comb)
9     08/2020\n\n133 g CO2/km (comb)
10    04/2022\n\n133 g CO2/km (comb)
dtype: object

In [161]:
s.str.extract('(\d+/\d+)\s+(\d+.\d+|\d+)')

          0    1
0   06/2020  4.9
1   11/2020  166
2   10/2019  5.3
3   05/2022  6.3
4   07/2019  128
5   06/2022  112
6   01/2022  5.8
7   11/2020  106
8   04/2019  105
9   08/2020  133
10  04/2022  133

#### Extract date as month and year separately

In [162]:
s = pd.Series(['\n\n4.9 06/2020 l/100 km (comb)',
'\n\n166 11/2020 g CO2/km (comb)',                                 
'\n\n5.3 10/2019 l/100 km (comb)',
'\n\n6.3 05/2022 l/100 km (comb)',
'\n\n128 07/2019 g CO2/km (comb)',
'\n\n112 06/2022 g CO2/km (comb)',                                                 
'\n\n5.8 01/2022 l/100 km (comb)'])
s

0    \n\n4.9 06/2020 l/100 km (comb)
1    \n\n166 11/2020 g CO2/km (comb)
2    \n\n5.3 10/2019 l/100 km (comb)
3    \n\n6.3 05/2022 l/100 km (comb)
4    \n\n128 07/2019 g CO2/km (comb)
5    \n\n112 06/2022 g CO2/km (comb)
6    \n\n5.8 01/2022 l/100 km (comb)
dtype: object

In [163]:
s.str.extract("\S+\s(\d+)/(\d+)")

    0     1
0  06  2020
1  11  2020
2  10  2019
3  05  2022
4  07  2019
5  06  2022
6  01  2022

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 11 (Part - 01)</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

____